.footer {
    display: flex;
    background-color: var(--dark-background-color);
    padding-top: 60px;
    padding-bottom: 60px;
    align-content: center;

    &__item {
        display: flex;
        align-content: center;
        text-align: center;
        flex-wrap: wrap;
        gap: 60px;
        justify-content: center;

        @include desktop {
            gap: 70px;
            text-align: left;
            flex-wrap: nowrap;
        }
    }

    &__adress__items {

        @include desktop {
            flex-wrap: nowrap;
        }
    }

    &__link {
        font-style: normal;
        font-size: 14px;
        line-height: 1.71;
        color: #FFFFFF60;
        text-decoration: none;
        margin-bottom: 9px;

        &.footer__link--white {
            color: #FFFFFF;
        }

        &:hover {
            color: var(--active-color);
            transition: 250ms;
            transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        }
    }

    &__media__items {
        @include desktop {
            margin-top: 12px;
        }

    }

    &__text {
        font-size: 14px;
        font-weight: 700;
        line-height: 1.17;
        margin-top: 12px;
        color: #FFFFFF;
    }

    &__media {
        display: flex;
        justify-content: center;
        margin-top: 20px;
    }

    &__icon {
        margin-right: 10px;
        padding: 12px;
        text-decoration: none;
        display: flex;
        align-items: center;
        background-color: rgba(255, 255, 255, 0.1);
        border-radius: 50px;

        &--white {
            fill: #FFFFFF;
        }

        &:hover {
            background: var(--active-color);
            transition: 250ms;
            transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        }
    }

    &__newslatter__items {
        @include desktop {
            margin-top: 12px;
        }
    }

    &__newslatter {
        display: flex;
        flex-direction: column;

        @include desktop {
            flex-direction: row;
        }
    }

    &__singup-window {
        display: flex;
        margin-top: 20px;
        width: 450px;
        height: 50px;
        padding: 16px;
        border-radius: 4px;
        margin-right: 12px;

        &--color {
            background: rgba(47, 48, 58, 1);
            color: rgba(255, 255, 255, 0.6);
            border: 1px solid rgba(255, 255, 255, 0.3);
        }

        @include desktop {
            width: 358px;
            height: 50px;
        }
    }

    &__singup-window::placeholder {
        color: rgba(255, 255, 255, 0.6);

    }

    &__send-button {
        display: flex;
        align-items: center;
        text-align: center;
        justify-content: center;
        margin-top: 20px;
        letter-spacing: 0.06em;
        background-color: var(--active-color);
        color: #FFFFFF;
        border: none;
        cursor: pointer;
        width: 200px;
        height: 50px;
        border-radius: 4px;
        font-size: 16px;
        font-weight: 700;
        line-height: 1.87;

    }

    &__send-svg {
        fill: #FFFFFF;
        margin-left: 24px;
    }
}