.menu-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: var(--white);
    z-index: 999;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    transform: translateX(150%);
    transition: transform 250ms ease-in-out;

    &.is-open {
        transform: translateX(0);
    }

    &__close {
        font-size: 30px;
        background-color: transparent;
        outline: none;
        border: none;
        position: absolute;
        top: 20px;
        right: 19.33px;
        transition: color 250ms ease-in-out;
    }

    &__close:is(:hover, :focus) {
        color: var(--active-color);
    }

    &__nav-list {
        display: block;
        padding-top: 48px;
        padding-left: 40px;
        color: #212121;
        font-size: 40px;
        font-weight: 500;
        letter-spacing: 0.02em;
        line-height: 1.17;
        text-decoration: none;
    }

 &__contacts{
    display: block;
    padding-left: 40px;
    font-weight: 500;
    letter-spacing: 0.02em;
    line-height: 1.17;
    

    &-link{
        text-decoration: none;
        font-size: 34px;
        font-weight: 500;
        line-height: 1.17;
        letter-spacing: 0.02em;
    }
 }

    &__nav-link{
        color: var(--secondary-color);
        text-decoration: none;
        display:flex;
        margin-bottom: 32px;
    }

    &--active {
        color: var(--active-color);
    }
    
    &__contacts-link {
        display: block;
        font-weight: 500;
        letter-spacing: 0.02em;
        padding-bottom: 32px;
    }

    &__contacts-link--tel {
        color: var(--active-color);
        font-weight: 500;
        font-size: 34px;
        line-height: 1.17;
        letter-spacing: 0.02em;
    }

    &__contacts-link--email {
        font-weight: 500;
        font-size: 24px;
        line-height: 1.16;
        letter-spacing: 0.02em;
        color: var(--primary-color);
    }

    &__social-media {
        display: flex;
        justify-content: center;
        padding-bottom: 48px;
    }

    &__social-media-link {
        color: var(--active-color);
        text-decoration: none;
        font-weight: 500;
        font-size: 18px;
        line-height: 1.22;
        letter-spacing: 0.02em;
    }

  

    &__social-media-link--border {
        border-left: 1px solid rgba(33, 33, 33, 0.2);
        border-right: 1px solid rgba(33, 33, 33, 0.2);
        padding-left: 10px;
        padding-right: 10px;
    }
}