.team {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    
    @include tablet {
        flex-direction: row;
        flex-wrap: wrap;
    }
    
    @include desktop {
        flex-direction: row;
        flex-wrap: nowrap;
    }
    

    &--background {
        background-color:var(--grey-background-color);
    }

    &__galery__img{
        @include mobile {
        width:450px;
        height: 460px;
        }

        @include tablet {
        width: 354px;
        height: 374px;
        flex-direction: row;
            flex-wrap: wrap;
        }

        @include desktop {
        width: 270px;
        height: 260px;
        }
    }

    &__gallery {
        max-width: 450px;
        background-color: var(--white);
        border-radius: 0px 0px 4px 4px;
        box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
            0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    
        @include tablet {
            max-width: 354px;
        }
    
        @include desktop {
            max-width: 270;
            display: inline-block;
        }
    }

    &__name {
        text-align: center;
        margin-bottom: 10px;
        margin-top: 30px;
        font-size: 16px;
        font-weight: 500;
        line-height: 1.17;
        color: var(--secondary-color);
    }

    &__position {
        text-align: center;
        margin-top: 10px;
        padding: 0px;
        font-size: 16px;
        line-height: 1.17;
        color: var(--primary-color);
    }

    &__media {
        display: flex;
        justify-content: center;
        margin-top: 16px;
        margin-bottom: 30px;
    
    &-logo {
        text-decoration: none;
        display: flex;
        align-items: center;
    }

    &-icon {
        fill: #AFB1B8;
        background-color: rgba(255, 255, 255, 0.1);
        border-radius: 50px;
        margin-right: 10px;
        padding: 12px;

            &:hover {
            fill: #FFFFFF;
            background: #2196f3;
            transition: 250ms;
            transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
            }
        }
    }
}
