* {
    margin: 0;
    padding: 0;
}

body {
    font-family: var(--main-font-family);
    color: var(--primary-color);
}

html{
    overflow-x: hidden;
}

ul {
    list-style: none;
    align-items: center;
    justify-content: center;
}

.card h5 {
    margin-bottom: 10px;
}

h5 {
    margin-right: 30px;
}

h6 {
    margin-right: 30px;
}

h2 {
    margin-bottom: 50px;
}

.container {
    max-width: 480px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;

    @include tablet {
        max-width: 768px;
    }

    @include desktop {
        max-width: 1200px;
    }
}

.section {
    padding-top: 60px;
    padding-bottom: 60px;

    @include tablet {
        padding-top: 60px;
        padding-bottom: 60px;
    }

    @include desktop {
        padding-top: 94px;
        padding-bottom: 94px;
    }
}

.img-block {
    display: block;
}
.text--center {
    font-weight: 700;
    line-height: 1.17;
    text-align: center;
    color: var(--secondary-color);
    font-size: 28px;
    letter-spacing: 0.03em;
    margin-bottom: 30px;

    @include desktop {
        font-size: 36px;
        line-height: 1.16;
        text-align: center;
        letter-spacing: 0.03em;
        margin-bottom: 50px;
    }
}

