:root {
    --main-font-family: 'Roboto', 'Raleway', sans-serif;
    --primary-color: #757575;
    --secondary-color: #212121;
    --dark-background-color: #2f303a;
    --grey-background-color: #f5f4fa;
    --active-color: #2196f3;
    --icons-color: #afb1b8;
}